**/*.log*
**/.DS_Store

**/node_modules
.pnpm-store

/.coverage

**/.eslintcache
**/coverage
**/dist
**/.pnpm-lock-hash
**/.swcrc

.claude
.nx

dagger/**/.gitattributes
dagger/**/dagger.gen.go
dagger/**/internal