auto-install-peers=false
disallow-workspace-cycles=true
force-legacy-deploy=true

# Required for Docker install
package-import-method=clone-or-copy

hoist-pattern[]=!*
public-hoist-pattern[]=!*

store-dir=.pnpm-store
