auto-install-peers=false
dedupe-peer-dependents=false
link-workspace-packages=false

# Required for Docker install
package-import-method=clone-or-copy

# Required for Nx plugins
hoist-pattern[]=@biomejs/biome
hoist-pattern[]=@swc/core
hoist-pattern[]=eslint
hoist-pattern[]=typescript
public-hoist-pattern[]=!*

npm-path=/workspace/leyman/main/node_modules/.bin/npm

store-dir=.pnpm-store
