auto-install-peers=false
disallow-workspace-cycles=true

# Required for Docker install
package-import-method=clone-or-copy

hoist-pattern[]=!*
public-hoist-pattern[]=!*

npm-path=/workspace/leyman/main/node_modules/.bin/npm

store-dir=.pnpm-store
