go 1.23.2

use (
	./dagger/executors/barrelify
	./dagger/executors/biome
	./dagger/executors/eslint
	./dagger/executors/mocha-c8
	./dagger/executors/node-deploy
	./dagger/executors/node-install
	./dagger/executors/populate-files
	./dagger/executors/tsc
	./dagger/executors/update-ts-references
	./dagger/modules/debian
	./dagger/modules/node
	./dagger/modules/pnpm
	./dagger/monorepo
	./dagger/test-and-build
	./dagger/utils/nx-executor
)

replace go.opentelemetry.io/otel/exporters/otlp/otlplog/otlploggrpc => go.opentelemetry.io/otel/exporters/otlp/otlplog/otlploggrpc v0.8.0

replace go.opentelemetry.io/otel/exporters/otlp/otlplog/otlploghttp => go.opentelemetry.io/otel/exporters/otlp/otlplog/otlploghttp v0.8.0

replace go.opentelemetry.io/otel/log => go.opentelemetry.io/otel/log v0.8.0

replace go.opentelemetry.io/otel/sdk/log => go.opentelemetry.io/otel/sdk/log v0.8.0
