CHANGELOG.md
project.json
tsconfig.json

.c8rc.json
.eslintcache
.pnpm-lock-hash
.swcrc
coverage/**
.eslintcache
eslint.config.js

dist/tsconfig.tsbuildinfo
dist/**/*.map
dist/tests

src/**
!src/executors/update-ts-references/schema.json

dist/file-content.js
dist/file-content.d.ts

dist/executors/update-ts-references/schema.js
dist/executors/update-ts-references/schema.d.ts